# Tests
data/
src/__tests__/

# GitHub Workflows
.github/

# Docker
Dockerfile

# Configuration files (Dev dependencies)
.dockerignore
.eslintrc.yml
.gitignore
.npmignore
.prettierrc.json
.releaserc.json
vitest.config.js
